@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#cardsSec {
  background-color: #d6dfec; }
  #cardsSec h1 {
    color: #5d0000;
    text-align: center;
    font-size: 90px;
    margin: 0px 0px 40px 0px;
    font-family: 'Source Serif Pro', serif;
    padding-top: 50px; }
  #cardsSec.opacity {
    opacity: 0.3; }

.cardBox {
  width: 165px;
  height: 228px;
  display: inline-block;
  margin: 20px 50px;
  background-repeat: no-repeat; }

.animation {
  animation: changeShowCard 1.5s;
  transform-style: flat;
  transition: 0.4s 0.3s;
  box-shadow: none; }

.hideCard {
  background-image: url(/images/hideCard.jpg);
  animation: changeHideCard 1.5s;
  transform-style: flat;
  transition: 0.4s 0.3s;
  box-shadow: 0px 0px 35px #ff0000; }

.showCard {
  animation: changeShowCard 1.5s;
  transform-style: flat;
  transition: 0.4s 0.3s;
  box-shadow: none; }

.Dialog, .successDialogOpen, .successDialogClose {
  position: fixed;
  top: 40%;
  left: 39%;
  width: 20em;
  height: 10em;
  border: 1px solid #ccc;
  border-radius: 45px;
  background: -webkit-radial-gradient(circle, #ffffff, #ffffff, #999999);
  background: -o-radial-gradient(circle, #ffffff, #ffffff, #999999);
  background: -moz-radial-gradient(circle, #ffffff, #ffffff, #999999);
  background: radial-gradient(circle, #ffffff, #ffffff, #999999);
  transition: all 0.3s; }
  .Dialog h1, .successDialogOpen h1, .successDialogClose h1 {
    position: absolute;
    color: #4c4f9c;
    text-align: center;
    font-size: 4em;
    font-family: 'Source Serif Pro', serif;
    top: 8%;
    left: 6%; }
  .Dialog button, .successDialogOpen button, .successDialogClose button {
    position: absolute;
    color: #201988;
    text-align: center;
    font-size: 1em;
    font-family: 'Source Serif Pro', serif;
    top: 75%;
    left: 31%;
    width: 122px;
    border: none;
    border-radius: 25px;
    outline: none;
    background: -webkit-linear-gradient(#9ca1dc, #d6dfec, #9ca1dc);
    background: -o-linear-gradient(#9ca1dc, #d6dfec, #9ca1dc);
    background: -moz-linear-gradient(#9ca1dc, #d6dfec, #9ca1dc);
    background: linear-gradient(#9ca1dc, #d6dfec, #9ca1dc); }

.successDialogOpen {
  animation: showSuccessDialog 0.5s forwards; }

.successDialogClose {
  animation: showSuccessDialogClose 0.5s forwards; }

@keyframes changeShowCard {
  100% {
    -moz-transform: rotatey(-180deg);
    -webkit-transform: rotatey(-180deg);
    -o-transform: rotatey(-180deg);
    -ms-transform: rotatey(-180deg);
    transform: rotatey(-180deg); } }
@keyframes changeHideCard {
  100% {
    -moz-transform: rotatey(180deg);
    -webkit-transform: rotatey(180deg);
    -o-transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    transform: rotatey(180deg); } }
@keyframes showSuccessDialog {
  100% {
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2); } }
@keyframes showSuccessDialogClose {
  100% {
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); } }
.elainecasap {
  background-image: url("/images/elainecasap.jpg"); }

.ellio {
  background-image: url("/images/ellio.jpg"); }

.jessypaston {
  background-image: url("/images/jessypaston.jpg"); }

.joshuaearle {
  background-image: url("/images/joshuaearle.jpg"); }

.poker {
  background-image: url("/images/poker.jpg"); }

.andrew {
  background-image: url("/images/andrew.jpg"); }

.brookelark {
  background-image: url("/images/brookelark.jpg"); }

.brookelark1 {
  background-image: url("/images/brookelark1.jpg"); }

.caseyhorner {
  background-image: url("/images/caseyhorner.jpg"); }

.julianohayon {
  background-image: url("/images/julianohayon.jpg"); }

.kalenemsley {
  background-image: url("/images/kalenemsley.jpg"); }

.laithabdulkareem {
  background-image: url("/images/laithabdulkareem.jpg"); }

.prebennilsen {
  background-image: url("/images/prebennilsen.jpg"); }

.toaheftiba {
  background-image: url("/images/toaheftiba.jpg"); }

.brevite {
  background-image: url("/images/brevite.jpg"); }

.sparks {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px #fff; }

.sparks.sparks1 {
  top: 300px;
  left: 500px;
  animation: bang 1.2s linear infinite;
  animation-delay: 0.8s; }

.sparks.sparks2 {
  top: 500px;
  left: 300px;
  animation: bang 0.8s linear infinite;
  animation-delay: 1s; }

.sparks.sparks3 {
  top: 480px;
  left: 1070px;
  animation: bang 1s linear infinite;
  animation-delay: 0.5s; }

.sparks.sparks4 {
  top: 600px;
  left: 300px;
  animation: bang 0.9s linear infinite;
  animation-delay: 0.4s; }

.sparks.sparks5 {
  top: 280px;
  left: 900px;
  animation: bang 0.8s linear infinite;
  animation-delay: 0.7s; }

@keyframes bang {
  100% {
    box-shadow: -16px -20px 86px -321.6666666667px #00b7ff, 198px -100.6666666667px #ff009d, 177px 35.3333333333px #0400ff, 119px -159.6666666667px #5500ff, 211px -399.6666666667px #ffbb00, 138px -26.6666666667px #aeff00, 172px -152.6666666667px #ff3700, -29px -410.6666666667px #00fff2, -90px -87.6666666667px #00ff1e, -215px -386.6666666667px #0022ff, -70px -188.6666666667px #ff00f2, -119px -132.6666666667px #0091ff, -165px -331.6666666667px #ffee00, 95px -70.6666666667px #ff004d, -93px -271.6666666667px #d900ff, -26px -32.6666666667px #007bff, 17px -46.6666666667px #5e00ff, -11px -362.6666666667px #0080ff, -244px -373.6666666667px #0062ff, 128px -401.6666666667px #00e6ff, -60px -239.6666666667px #ff00a2, 106px -152.6666666667px #3cff00, -25px -277.6666666667px #00ff40, 25px -41.6666666667px #ff00fb, 173px -46.6666666667px #ff8400, 35px -402.6666666667px #ff1a00, 228px 15.3333333333px #ff00cc, 102px -234.6666666667px #ff9d00, 189px -299.6666666667px #ff0037, -139px 16.3333333333px #cc00ff, 162px -16.6666666667px #0004ff, -12px -32.6666666667px #a2ff00, 182px -95.6666666667px #ff1a00, -150px -176.6666666667px #00a2ff, -189px -391.6666666667px #8cff00, 165px -2.6666666667px #fffb00, 75px -295.6666666667px #ff3700, -135px 59.3333333333px #00a2ff, -120px -281.6666666667px #4400ff, -10px -103.6666666667px #ff001e, 51px -376.6666666667px #ff3300, -41px -296.6666666667px #7300ff, 243px 57.3333333333px #ff8400, -16px -309.6666666667px #ff6a00, 143px -79.6666666667px #00a2ff, 128px -212.6666666667px #ffea00, 15px 51.3333333333px #00ff95, -27px -271.6666666667px #001aff, 136px -206.6666666667px #d000ff, -77px -293.6666666667px #ff0055, -94px 76.3333333333px #8000ff, 3px -193.6666666667px #9900ff, -147px -327.6666666667px #00ff40, -180px 52.3333333333px #00ff7b, 126px -284.6666666667px #00ffe6, 1px -126.6666666667px #37ff00, -198px -63.6666666667px #99ff00, -153px 59.3333333333px #73ff00, 113px -136.6666666667px #80ff00, 4px -388.6666666667px #ff0040, -139px -337.6666666667px #ff00e1, 35px -87.6666666667px #ff1500, 66px -171.6666666667px #00e1ff, 198px 5.3333333333px #09ff00, -100px -321.6666666667px #ff00dd, 189px -347.6666666667px #00ffae, -91px 39.3333333333px #00c8ff, 168px -198.6666666667px #00ffa6, -68px -23.6666666667px #e600ff, 175px -190.6666666667px #ff3700, -142px -99.6666666667px #00ccff, 91px -200.6666666667px #b7ff00, -68px -342.6666666667px #ff1e00, -31px -61.6666666667px #ff0051, 118px -180.6666666667px #ff4400, 162px -229.6666666667px #aa00ff, 234px -158.6666666667px #ff6a00, -119px -271.6666666667px #ff1100, -206px -378.6666666667px #2b00ff, -193px 54.3333333333px #ff0011, 243px -252.6666666667px #ff001e, 47px -360.6666666667px #ff9100, 17px 48.3333333333px #ff6a00, -168px 70.3333333333px #00ffee, 90px -374.6666666667px #ffbb00, 55px -12.6666666667px #b7ff00, 206px -101.6666666667px #e100ff, 216px -119.6666666667px #ff5100, -166px -397.6666666667px #00d5ff, -219px -335.6666666667px #2b00ff, 224px -33.6666666667px #b3ff00, -116px -127.6666666667px #d5ff00, -116px -200.6666666667px #ff2b00, -155px 64.3333333333px #00ffd0, -33px -246.6666666667px #c4ff00, 174px -285.6666666667px #bf00ff, -245px -240.6666666667px #f200ff, 47px -405.6666666667px #55ff00, 95px -407.6666666667px #ff0037, 243px -163.6666666667px #00fff7;
    animation: gravity 1s 1.5s linear infinite; } }

/*# sourceMappingURL=style.css.map */
