@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#cardsSec {
  background-color: #d6dfec; }
  #cardsSec h1 {
    color: #5d0000;
    text-align: center;
    font-size: 90px;
    margin: 0px 0px 40px 0px;
    font-family: 'Source Serif Pro', serif;
    padding-top: 50px; }
  #cardsSec.opacity {
    opacity: 0.3; }

.cardBox {
  width: 165px;
  height: 228px;
  display: inline-block;
  margin: 20px 50px;
  background-repeat: no-repeat; }

.animation {
  animation: changeShowCard 1.5s;
  transform-style: flat;
  transition: 0.4s 0.3s;
  box-shadow: none; }

.hideCard {
  background-image: url(/images/hideCard.jpg);
  animation: changeHideCard 1.5s;
  transform-style: flat;
  transition: 0.4s 0.3s;
  box-shadow: 0 0 35px #ff0000; }

.showCard {
  animation: changeShowCard 1.5s;
  transform-style: flat;
  transition: 0.4s 0.3s;
  box-shadow: none;
  -moz-transform: rotatey(180deg);
  -webkit-transform: rotatey(180deg);
  -o-transform: rotatey(180deg);
  -ms-transform: rotatey(180deg);
  transform: rotatey(180deg); }

.Dialog, .successDialogOpen, .successDialogClose {
  position: fixed;
  top: 40%;
  left: 39%;
  width: 20em;
  height: 10em;
  border: 1px solid #ccc;
  border-radius: 45px;
  background: -webkit-radial-gradient(circle, #ffffff, #ffffff, #999999);
  background: -o-radial-gradient(circle, #ffffff, #ffffff, #999999);
  background: -moz-radial-gradient(circle, #ffffff, #ffffff, #999999);
  background: radial-gradient(circle, #ffffff, #ffffff, #999999);
  transition: all 0.3s; }
  .Dialog h1, .successDialogOpen h1, .successDialogClose h1 {
    position: absolute;
    color: #4c4f9c;
    text-align: center;
    font-size: 4em;
    font-family: 'Source Serif Pro', serif;
    top: 8%;
    left: 6%; }
  .Dialog button, .successDialogOpen button, .successDialogClose button {
    position: absolute;
    color: #201988;
    text-align: center;
    font-size: 1em;
    font-family: 'Source Serif Pro', serif;
    top: 75%;
    left: 31%;
    width: 122px;
    border: none;
    border-radius: 25px;
    outline: none;
    background: -webkit-linear-gradient(#9ca1dc, #d6dfec, #9ca1dc);
    background: -o-linear-gradient(#9ca1dc, #d6dfec, #9ca1dc);
    background: -moz-linear-gradient(#9ca1dc, #d6dfec, #9ca1dc);
    background: linear-gradient(#9ca1dc, #d6dfec, #9ca1dc); }

.successDialogOpen {
  animation: showSuccessDialog 0.5s forwards; }

.successDialogClose {
  animation: showSuccessDialogClose 0.5s forwards; }

@keyframes changeShowCard {
  100% {
    -moz-transform: rotatey(-180deg);
    -webkit-transform: rotatey(-180deg);
    -o-transform: rotatey(-180deg);
    -ms-transform: rotatey(-180deg);
    transform: rotatey(-180deg); } }
@keyframes changeHideCard {
  100% {
    -moz-transform: rotatey(180deg);
    -webkit-transform: rotatey(180deg);
    -o-transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    transform: rotatey(180deg); } }
@keyframes showSuccessDialog {
  100% {
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2); } }
@keyframes showSuccessDialogClose {
  100% {
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); } }
.elainecasap {
  background-image: url("/images/elainecasap.jpg"); }

.ellio {
  background-image: url("/images/ellio.jpg"); }

.jessypaston {
  background-image: url("/images/jessypaston.jpg"); }

.joshuaearle {
  background-image: url("/images/joshuaearle.jpg"); }

.poker {
  background-image: url("/images/poker.jpg"); }

.andrew {
  background-image: url("/images/andrew.jpg"); }

.brookelark {
  background-image: url("/images/brookelark.jpg"); }

.brookelark1 {
  background-image: url("/images/brookelark1.jpg"); }

.caseyhorner {
  background-image: url("/images/caseyhorner.jpg"); }

.julianohayon {
  background-image: url("/images/julianohayon.jpg"); }

.kalenemsley {
  background-image: url("/images/kalenemsley.jpg"); }

.laithabdulkareem {
  background-image: url("/images/laithabdulkareem.jpg"); }

.prebennilsen {
  background-image: url("/images/prebennilsen.jpg"); }

.toaheftiba {
  background-image: url("/images/toaheftiba.jpg"); }

.brevite {
  background-image: url("/images/brevite.jpg"); }

.sparks {
  position: fixed;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px #fff; }

.sparks.sparks1 {
  top: 300px;
  left: 500px;
  animation: bang 1.2s linear infinite;
  animation-delay: 0.8s; }

.sparks.sparks2 {
  top: 500px;
  left: 300px;
  animation: bang 0.8s linear infinite;
  animation-delay: 1s; }

.sparks.sparks3 {
  top: 480px;
  left: 1070px;
  animation: bang 1s linear infinite;
  animation-delay: 0.5s; }

.sparks.sparks4 {
  top: 600px;
  left: 300px;
  animation: bang 0.9s linear infinite;
  animation-delay: 0.4s; }

.sparks.sparks5 {
  top: 280px;
  left: 900px;
  animation: bang 0.8s linear infinite;
  animation-delay: 0.7s; }

@keyframes bang {
  100% {
    box-shadow: -32px -22px 9px -354.6666666667px #00ff11, -135px -193.6666666667px #007bff, -44px -341.6666666667px #ff003c, -205px -12.6666666667px #ea00ff, 48px -288.6666666667px #0099ff, 224px -57.6666666667px #7700ff, 58px -43.6666666667px #ff4000, 52px -92.6666666667px #ff007b, -32px -367.6666666667px #00d5ff, -223px -24.6666666667px #48ff00, -180px -406.6666666667px #009dff, 95px -211.6666666667px #00a6ff, -148px -70.6666666667px #ff00a6, -107px 1.3333333333px #c4ff00, -118px -306.6666666667px #8800ff, -237px 55.3333333333px #0088ff, 154px -191.6666666667px #ffc400, 83px -300.6666666667px #ff7700, 121px -336.6666666667px #ff0011, -161px -406.6666666667px #00b7ff, 65px -140.6666666667px #5100ff, -54px -100.6666666667px #d500ff, -224px -337.6666666667px #00ff6f, 161px -149.6666666667px #ff00aa, 21px 52.3333333333px #3c00ff, -116px 65.3333333333px #00ffcc, 32px -316.6666666667px #00ff26, -128px 40.3333333333px #fff700, 114px -175.6666666667px #b3ff00, -220px -138.6666666667px #00ffaa, 70px -375.6666666667px #00d5ff, -106px -255.6666666667px #4d00ff, 91px -245.6666666667px #00ffe6, -209px -205.6666666667px #009dff, 145px -162.6666666667px #bb00ff, -120px -93.6666666667px #00ffe6, 187px 72.3333333333px #ff0004, -207px -367.6666666667px #00ff1e, 126px -186.6666666667px #ea00ff, -189px -282.6666666667px #ff009d, -5px -327.6666666667px #3700ff, 216px -306.6666666667px #a6ff00, -113px -5.6666666667px #ff00e1, 164px -285.6666666667px #00ff66, 76px 6.3333333333px #c8ff00, -186px -413.6666666667px #ff00ee, -118px -273.6666666667px #95ff00, 68px -156.6666666667px #d0ff00, 10px -248.6666666667px #9100ff, -49px -93.6666666667px #ff5e00, 186px -262.6666666667px #2600ff, 61px -384.6666666667px #37ff00, 190px 60.3333333333px #ff002b, -184px -197.6666666667px #000dff, 176px -151.6666666667px #00c4ff, -213px -406.6666666667px #0400ff, -120px -210.6666666667px #e100ff, -98px -147.6666666667px #8c00ff, 38px -105.6666666667px #d500ff, 224px -31.6666666667px #ea00ff, 146px -110.6666666667px #51ff00, 167px -273.6666666667px #8400ff, -4px -356.6666666667px #5eff00, -235px -42.6666666667px #00ff4d, -221px -116.6666666667px #ffbb00, -169px -164.6666666667px #0088ff, -195px 71.3333333333px #1100ff, 67px -180.6666666667px #0073ff, -139px -156.6666666667px #00ff37, -212px -104.6666666667px #ff5100, 104px -158.6666666667px #bf00ff, 14px -108.6666666667px #ff7700, -8px 66.3333333333px #00ff0d, 228px -121.6666666667px #7300ff, 81px -109.6666666667px #d9ff00, 191px -300.6666666667px #1eff00, -234px -128.6666666667px #00ffa6, 16px -184.6666666667px #5eff00, 166px -232.6666666667px #004dff, -164px -137.6666666667px #8c00ff, -101px -344.6666666667px #ff00e6, 163px -392.6666666667px lime, 30px -296.6666666667px #00ff11, 140px 75.3333333333px #ff000d, 94px -215.6666666667px #0009ff, 109px -115.6666666667px #7300ff, 22px -90.6666666667px #00ff26, -244px 64.3333333333px #0062ff, 68px -13.6666666667px #aeff00, 222px -170.6666666667px #ff00cc, -230px -289.6666666667px #ff00d9, -4px -125.6666666667px #ff0022, 77px -62.6666666667px #00ff62, -108px 51.3333333333px #0062ff, 99px -409.6666666667px #00ff2f, -214px 60.3333333333px #1aff00, -219px -287.6666666667px #ff0077, 173px -214.6666666667px #4dff00, -58px -36.6666666667px #62ff00, -210px -303.6666666667px #ff0055;
    animation: gravity 1s 1.5s linear infinite; } }

/*# sourceMappingURL=style.css.map */
