@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#cardsSec {
  background-color: #d6dfec; }
  #cardsSec h1 {
    color: #5d0000;
    text-align: center;
    font-size: 90px;
    margin: 0px 0px 40px 0px;
    font-family: 'Source Serif Pro', serif;
    padding-top: 50px; }
  #cardsSec.opacity {
    opacity: 0.3; }

.cardBox {
  width: 165px;
  height: 228px;
  display: inline-block;
  margin: 20px 50px;
  background-repeat: no-repeat; }

.animation {
  animation: changeShowCard 1.5s;
  transform-style: flat;
  transition: 0.4s 0.3s;
  box-shadow: none; }

.hideCard {
  background-image: url(/images/hideCard.jpg);
  animation: changeHideCard 1.5s;
  transform-style: flat;
  transition: 0.4s 0.3s;
  box-shadow: 0 0 35px #ff0000; }

.showCard {
  animation: changeShowCard 1.5s;
  transform-style: flat;
  transition: 0.4s 0.3s;
  box-shadow: none;
  -moz-transform: rotatey(180deg);
  -webkit-transform: rotatey(180deg);
  -o-transform: rotatey(180deg);
  -ms-transform: rotatey(180deg);
  transform: rotatey(180deg); }

.Dialog, .successDialogOpen, .successDialogClose {
  position: fixed;
  top: 40%;
  left: 39%;
  width: 20em;
  height: 10em;
  border: 1px solid #ccc;
  border-radius: 45px;
  background: -webkit-radial-gradient(circle, #ffffff, #ffffff, #999999);
  background: -o-radial-gradient(circle, #ffffff, #ffffff, #999999);
  background: -moz-radial-gradient(circle, #ffffff, #ffffff, #999999);
  background: radial-gradient(circle, #ffffff, #ffffff, #999999);
  transition: all 0.3s; }
  .Dialog h1, .successDialogOpen h1, .successDialogClose h1 {
    position: absolute;
    color: #4c4f9c;
    text-align: center;
    font-size: 4em;
    font-family: 'Source Serif Pro', serif;
    top: 8%;
    left: 6%; }
  .Dialog button, .successDialogOpen button, .successDialogClose button {
    position: absolute;
    color: #201988;
    text-align: center;
    font-size: 1em;
    font-family: 'Source Serif Pro', serif;
    top: 75%;
    left: 31%;
    width: 122px;
    border: none;
    border-radius: 25px;
    outline: none;
    background: -webkit-linear-gradient(#9ca1dc, #d6dfec, #9ca1dc);
    background: -o-linear-gradient(#9ca1dc, #d6dfec, #9ca1dc);
    background: -moz-linear-gradient(#9ca1dc, #d6dfec, #9ca1dc);
    background: linear-gradient(#9ca1dc, #d6dfec, #9ca1dc); }

.successDialogOpen {
  animation: showSuccessDialog 0.5s forwards; }

.successDialogClose {
  animation: showSuccessDialogClose 0.5s forwards; }

@keyframes changeShowCard {
  100% {
    -moz-transform: rotatey(-180deg);
    -webkit-transform: rotatey(-180deg);
    -o-transform: rotatey(-180deg);
    -ms-transform: rotatey(-180deg);
    transform: rotatey(-180deg); } }
@keyframes changeHideCard {
  100% {
    -moz-transform: rotatey(180deg);
    -webkit-transform: rotatey(180deg);
    -o-transform: rotatey(180deg);
    -ms-transform: rotatey(180deg);
    transform: rotatey(180deg); } }
@keyframes showSuccessDialog {
  100% {
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2); } }
@keyframes showSuccessDialogClose {
  100% {
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); } }
.elainecasap {
  background-image: url("/images/elainecasap.jpg"); }

.ellio {
  background-image: url("/images/ellio.jpg"); }

.jessypaston {
  background-image: url("/images/jessypaston.jpg"); }

.joshuaearle {
  background-image: url("/images/joshuaearle.jpg"); }

.poker {
  background-image: url("/images/poker.jpg"); }

.andrew {
  background-image: url("/images/andrew.jpg"); }

.brookelark {
  background-image: url("/images/brookelark.jpg"); }

.brookelark1 {
  background-image: url("/images/brookelark1.jpg"); }

.caseyhorner {
  background-image: url("/images/caseyhorner.jpg"); }

.julianohayon {
  background-image: url("/images/julianohayon.jpg"); }

.kalenemsley {
  background-image: url("/images/kalenemsley.jpg"); }

.laithabdulkareem {
  background-image: url("/images/laithabdulkareem.jpg"); }

.prebennilsen {
  background-image: url("/images/prebennilsen.jpg"); }

.toaheftiba {
  background-image: url("/images/toaheftiba.jpg"); }

.brevite {
  background-image: url("/images/brevite.jpg"); }

.sparks {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px #fff; }

.sparks.sparks1 {
  top: 300px;
  left: 500px;
  animation: bang 1.2s linear infinite;
  animation-delay: 0.8s; }

.sparks.sparks2 {
  top: 500px;
  left: 300px;
  animation: bang 0.8s linear infinite;
  animation-delay: 1s; }

.sparks.sparks3 {
  top: 480px;
  left: 1070px;
  animation: bang 1s linear infinite;
  animation-delay: 0.5s; }

.sparks.sparks4 {
  top: 600px;
  left: 300px;
  animation: bang 0.9s linear infinite;
  animation-delay: 0.4s; }

.sparks.sparks5 {
  top: 280px;
  left: 900px;
  animation: bang 0.8s linear infinite;
  animation-delay: 0.7s; }

@keyframes bang {
  100% {
    box-shadow: -25px -18px 137px -290.6666666667px #00fbff, -157px -175.6666666667px #00fff2, 190px -116.6666666667px #ff00ee, -82px -16.6666666667px #fffb00, 110px -383.6666666667px #0066ff, 100px -378.6666666667px #e1ff00, -34px -286.6666666667px #0009ff, -120px -184.6666666667px #00ff80, 61px -15.6666666667px #f700ff, -156px -56.6666666667px #ff5e00, 62px -235.6666666667px #ff4800, 234px -34.6666666667px #00fbff, 226px 51.3333333333px #0091ff, -141px -323.6666666667px #ffae00, 55px -275.6666666667px #00ff62, 229px 78.3333333333px blue, 223px -71.6666666667px #0055ff, -63px -31.6666666667px #002fff, 135px -121.6666666667px #00ff62, -117px -379.6666666667px blue, 166px -64.6666666667px #4dff00, -1px 69.3333333333px #ffbf00, 225px -45.6666666667px #ff3c00, 192px -341.6666666667px #7b00ff, 189px -246.6666666667px #ff5500, -96px -86.6666666667px #c800ff, -239px -384.6666666667px #0088ff, -185px -108.6666666667px #00ff84, -248px -150.6666666667px #b300ff, 132px -297.6666666667px #ffee00, -58px 22.3333333333px #003cff, -77px -379.6666666667px #00ff3c, -26px -214.6666666667px #00ff73, 80px -333.6666666667px darkorange, 184px -153.6666666667px #ff008c, 149px -333.6666666667px #1eff00, 97px 24.3333333333px #ff4800, -108px -36.6666666667px #ff4000, -2px 29.3333333333px #ff0400, 26px -259.6666666667px #ffdd00, 193px -168.6666666667px #00b3ff, -162px -149.6666666667px #00ffa2, 149px -290.6666666667px #9500ff, 183px -119.6666666667px #ff00a2, -148px -316.6666666667px #62ff00, -239px -377.6666666667px #0040ff, -158px -197.6666666667px darkorange, -224px -309.6666666667px #fb00ff, 206px -216.6666666667px #ff0051, 125px 7.3333333333px #4d00ff, -52px -106.6666666667px #5500ff, -14px -107.6666666667px #ff0080, 192px -154.6666666667px #f2ff00, -124px -301.6666666667px #00c4ff, 1px -154.6666666667px #00ff6a, 37px -411.6666666667px #a200ff, 8px -11.6666666667px #ff001e, 14px -49.6666666667px #22ff00, -102px -261.6666666667px #ff00c8, 85px -30.6666666667px #006fff, 27px -119.6666666667px #ff0015, -235px -323.6666666667px #ddff00, 76px -255.6666666667px #ff2b00, 82px -145.6666666667px #ff9100, 215px -331.6666666667px #ccff00, -138px -93.6666666667px #0037ff, 197px 73.3333333333px #ff2b00, -246px -352.6666666667px #5e00ff, -17px -162.6666666667px #00eeff, -43px 82.3333333333px #ffe100, 27px -222.6666666667px #1e00ff, 136px -327.6666666667px #ff00aa, -183px 66.3333333333px #00ffcc, -227px -281.6666666667px #0026ff, 130px -328.6666666667px #4dff00, 90px -62.6666666667px #ff0d00, 73px -114.6666666667px #2f00ff, 210px 15.3333333333px #ff5900, 185px -213.6666666667px #ff0095, 91px -318.6666666667px #1100ff, 184px -137.6666666667px #00d5ff, 192px -114.6666666667px #00e1ff, -194px -188.6666666667px #00eaff, 41px -411.6666666667px #7bff00, 186px -297.6666666667px #00ffb3, -182px -17.6666666667px #00ffc4, -67px -157.6666666667px #ffee00, -237px -294.6666666667px #5eff00, -130px -235.6666666667px #5100ff, -49px -276.6666666667px #00ff55, -89px 14.3333333333px #0088ff, 201px -65.6666666667px #002bff, 67px -236.6666666667px red, -119px -199.6666666667px #00ff22, -24px -69.6666666667px #51ff00, -100px -8.6666666667px #a2ff00, -237px -384.6666666667px #00ff6a, -26px -179.6666666667px #0dff00, 209px -254.6666666667px #00ff2f, -111px -108.6666666667px #0059ff;
    animation: gravity 1s 1.5s linear infinite; } }

/*# sourceMappingURL=style.css.map */
